syntax: glob

# Ignore .jpg and .pdf under the src directory since they are produced via umlet
# Images handled by conf management should use other suffix (.png for example)
src/**/*.jpg
src/**/*.pdf
dev/material/*.jpg
dev/material/tasks-graph.pdf
dev/material/scale
dev/material/classifier

.gitignore
.gradle/*
.nb-gradle/*
.nb-gradle-properties
*.exe
*.lnk
*.log
*.mf
*.orig
build/*
dist/*
config/run.properties
data/benches
data/campaign
data/print
data/output/*
data/projects
data/scores
data/scripts
data/temp
data/train
data/train/*.zip
data/train/*.csv
data/www/docs/api
data/www/docs/guides
private/*
target/*
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$

# Ignore system files
.DS_Store
Thumb.db
