syntax: glob

# Ignore .jpg and .pdf under the src directory since they are produced via umlet
# Images handled by conf management should use other suffix (.png for example)
src/**/*.jpg
src/**/*.pdf
dev/material/*.jpg
dev/material/tasks-graph.pdf
dev/material/scale
dev/material/classifier
dev/temp-externals/*-javadoc.jar
dev/temp-externals/*-sources.jar
nbproject

*.*~
.gradle/*
.idea/*
.nb-gradle/*
.nb-gradle-properties
*.exe
*.lnk
*.log
*.mf
*.orig
*/nb-cache/*
*.ser
build/*
app/bin/*
dist/*
config/run.properties
data/args
data/args/*
data/benches
data/campaign
data/print
data/ocr
data/output/*
data/projects
data/scores
data/scripts
data/temp
data/train
data/train/*.zip
data/train/*.csv
data/www/docs/api
data/www/docs/guides
packaging/build
packaging/build/*
packaging/.gradle/*
private/*
schemas/bin/
schemas/build
schemas/build/*
target/*
temp/*
windows-installer/build
windows-installer/build/*
windows-installer/.gradle/*
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$
app/build
app/build/*
app/data/temp
app/data/temp/*
flatpak/build
flatpak/build/*
**/.flatpak-builder
**.flatpak-builder/*

# Ignore system files
.DS_Store
Thumb.db
/bin/
/build/
/.gradle/

# Eclipse added files
.classpath
.project
.settings

# IDEA added files
.idea

# Visual Studio added files
.vscode

# Gradle added files (temporary fix)
gradle.properties

# docs building files
docs/.jekyll-metadata
docs/Gemfile.lock
docs/_site/
docs/pdf/build

# flatpak
dev/flatpak/.flatpak-builder/
dev/flatpak/gradle/
