<?xml version="1.0" encoding="UTF-8"?>
<!--
    Elements meant to be included into a logback.xml configuration file
-->    
<included>
    
    <!--
    Predefined MDC keys:
        BOOK  Book radix
        SHEET Sheet number within book
    -->    
    
    <!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />  -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" timeReference="contextBirth"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--            <pattern>%-5level %caller{1} [%X{BOOK}%X{SHEET}] [%thread] %msg%n%ex</pattern>-->
<!--            <pattern>%-5level [%X{BOOK}%X{SHEET}] %25file:%-4line | %msg%n%ex</pattern>-->
            <pattern>%-5level [%X{BOOK}%X{SHEET}] %25replace(%file){'\.java$',''} %-4line | %msg%n%ex</pattern>
<!--            <pattern>%-5level [%X{BOOK}%X{SHEET}] at \(%file:%line\)| %msg%n%ex</pattern>-->
<!--            <pattern>%-5level [%X{BOOK}%X{SHEET}] D:/soft/audiveris-ng/src/main/%replace(%class){'\.','/'}.java:%line  |%n %msg%n%ex</pattern>-->
            <!--            <pattern>%-5level %msg%n %ex</pattern>-->
        </encoder>
    </appender>
    
    <!-- 
        FILE appender is not listed here because its target depends on OS.
        See LogUtil.addFileAppender()
    -->

    <!-- 
        GUI appender is not listed here because it is dynamically allocated & appended
        only when not running in batch.
        See LogUtil.addGuiAppender()
    -->
    
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>    
    
    <!-- Too avoid useless messages from nd4j or reflections -->
    <logger name="org.nd4j.nativeblas.Nd4jBlas" level="WARN"/>
    <logger name="org.nd4j.nativeblas.NativeOps" level="WARN"/>
    <logger name="org.reflections.Reflections" level="WARN"/>
    
</included>
