/*
* Specific style for the navigation list
*/

/* Each line is extended on the right with dots until the page number */
@supports (content: leader(dotted)) {
    .nav-list a[href]::after { 
        content: leader(dotted) target-counter(attr(href url), page);
    }
}

/* The starting dot on each line is useless */
.nav-list, .nav-list ul {
    list-style-type: none;
}

/* The main chapters get some vertical margin before */
#site-nav > ul > li {
    margin-top: 20px;
}

/* The main chapter line is highlighted */
#site-nav > ul > li > a {
    font-weight: bold;
}

/* Every navigation line is a link, so underlining everything would be useless */
.nav-list li > a {
    text-decoration: none;
}

@page {
    background: rgba(255, 255, 60, 0.14) !important;
		
	@top-center {content: "Audiveris Handbook - Table of Contents";}
    
    @bottom-center {content: "Contents - " counter(page, upper-roman)}
}
