h1,
.text-alpha {
  @include fs-8;
  font-weight: 600;
}

h2,
.text-beta {
  @include fs-7;
  font-weight: 600;
}

h3,
.text-gamma {
  @include fs-6;
  font-weight: 600;
}

h4,
.text-delta {
  @include fs-5;
  font-weight: 600;
  text-transform: none;
}

/* Reference to a footnote */
.footnote::before {
    content: "[";
    color: blue;
}
.footnote::after {
    content: "]";
    color: blue;
}

/* Footnotes */
.footnotes::before {
    content: "Footnotes";
    color: blue;
}
.footnotes {
    border: 1px dotted blue;
}
