h1,
.text-alpha {
  @include fs-8;
  font-weight: 600;
}

h2,
.text-beta {
  @include fs-7;
  font-weight: 600;
}

h3,
.text-gamma {
  @include fs-6;
  font-weight: 600;
}

h4,
.text-delta {
  @include fs-5;
  font-weight: 600;
  text-transform: none;
}

.nota {
  color: pink !important;
}

.nota-bg {
  background-color: LightYellow !important;
}

.warning {
  color: red !important;
}

.warning-bg {
  background-color: LightPink !important;
}
