<?xml version="1.0" encoding="UTF-8"?>

<!--
Predefined MDC keys:
    BOOK  Book radix
    SHEET Sheet number within book
-->

<configuration>

    <include optional="true" resource="logback-elements.xml"/>    
    
    <!-- Define DEBUG loggers here below: -->
<!--        <logger name="org.audiveris.omr.sheet.ScaleBuilder" level="DEBUG"/>-->
        <logger name="org.audiveris.omr.sheet.ui.SheetAssembly" level="DEBUG"/>

</configuration>