<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />  -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"
               timeReference="contextBirth"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%-5level %caller{1} - %msg%ex%n</pattern>
            <!--            <pattern>%-5level %msg%n %ex</pattern>-->
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>${user.home}/audiveris-${bySecond}.log</file>
        <encoder>
            <pattern>%date %level \(%file:%line\) - %msg%ex%n</pattern>
        </encoder>
    </appender>
    
    <appender name="GUI" class="omr.log.LogGuiAppender">  
        <!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> 
            <level>INFO</level>
        </filter>-->
    </appender>
    
    <appender name="STEP" class="omr.log.LogStepAppender">  
        <!-- We keep only messages of level >= INFO -->      
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> 
            <level>INFO</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="GUI" />
        <appender-ref ref="STEP" />
    </root>
    
    <!-- Define DEBUG loggers here below: -->
    <logger name="omr.step.Stepping" level="DEBUG"/>
<!--    <logger name="omr.check.CheckSuite" level="DEBUG"/>-->
<!--    <logger name="omr.sheet.VerticalsBuilder" level="DEBUG"/>-->
<!--    <logger name="omr.sheet.VoidNotesBuilder" level="DEBUG"/>-->
<!--    <logger name="omr.sheet.BeamsBuilder" level="DEBUG"/>-->
<!--    <logger name="omr.sheet.BlackNotesBuilder" level="DEBUG"/>-->
<!--    <logger name="omr.sheet.HorizontalsBuilder" level="DEBUG"/>-->
<!--    <logger name="omr.selection.SelectionService" level="DEBUG"/>-->
<!--    <logger name="omr.sheet.picture.Ghostscript" level="DEBUG"/>-->
<!--    <logger name="omr.step.Stepping" level="DEBUG"/>-->
<!--    <logger name="omr.script.Script" level="DEBUG"/>-->
<!--    <logger name="omr.sheet.picture.PictureLoader" level="DEBUG"/>-->
<!--    <logger name="omr.CLI" level="DEBUG"/>-->

</configuration>