<?xml version="1.0" encoding="UTF-8"?>

<!--
Predefined MDC keys:
    BOOK  Book radix
    SHEET Sheet number within book
-->

<configuration>
    <!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />  -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" timeReference="contextBirth"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%-5level %caller{1} [%X{BOOK}%X{SHEET}] %msg%n%ex</pattern>
            <!--            <pattern>%-5level %msg%n %ex</pattern>-->
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>${user.home}/audiveris-${bySecond}.log</file>
        <encoder>
            <pattern>%date %level \(%file:%line\) [%X{BOOK}%X{SHEET}] %msg%ex%n</pattern>
        </encoder>
    </appender>
    
    <appender name="GUI" class="omr.log.LogGuiAppender"> 
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="GUI" />
    </root>
    
    <!-- Define DEBUG loggers here below: -->
    <!--    <logger name="omr.sheet.grid.BarsRetriever" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.grid.StaffProjector" level="DEBUG"/>-->
    <!--    <logger name="omr.glyph.GlyphCluster" level="DEBUG"/>-->
    <!--    <logger name="omr.glyph.dynamic.StickFactory" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.rhythm.Voices" level="DEBUG"/>-->
    <!--    <logger name="omr.action.ActionManager" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.rhythm.SlotsBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.rhythm.PageRhythm" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.rhythm.StackTuner" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.header.HeaderBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.ui.BookBrowser" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.grid.LineCluster" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.rhythm.TupletsBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.text.TextBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.text.tesseract.TesseractOrder" level="DEBUG"/>-->
    <!--    <logger name="omr.score.PartwiseBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.image.ImageLoading" level="DEBUG"/>-->
    <!--    <logger name="omr.score.PartwiseBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.grid.LineFilamentAlignment" level="DEBUG"/>-->
    <!--    <logger name="omr.grid.StaffProjector" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.grid.BarsRetriever" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.CktBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.header.ClefBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.KeyBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.header.TimeBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sig.SIGraph" level="DEBUG"/>-->
    <!--    <logger name="omr.step.Stepping" level="DEBUG"/>-->
    <!--    <logger name="omr.check.CheckSuite" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.VerticalsBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.VoidNotesBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.BeamsBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.BlackNotesBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.HorizontalsBuilder" level="DEBUG"/>-->
    <!--    <logger name="omr.ui.selection.SelectionService" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.picture.Ghostscript" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.ui.SheetAssembly" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.ui.StubsController" level="DEBUG"/>-->
    <!--    <logger name="omr.step.Stepping" level="DEBUG"/>-->
    <!--    <logger name="omr.step.StepMonitor" level="DEBUG"/>-->
    <!--    <logger name="omr.script.Script" level="DEBUG"/>-->
    <!--    <logger name="omr.sheet.picture.PictureLoader" level="DEBUG"/>-->
    <!--    <logger name="omr.CLI" level="DEBUG"/>-->

</configuration>