/* --------------------------------------------------------------------------*/
/*                                                                           */
/*                          e x p a n s i o n . c s s                        */
/*                                                                           */
/*    Styles for expandable elements and expender input                      */
/*                                                                           */
/* --------------------------------------------------------------------------*/


.expander {
    border-style: none;
    background: #7496b8;
    color: white;
    margin: 0;
    padding: 0;
    border-radius:3px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}
.expander:hover {
    background-color:#535898;
    color: white;
}
.expander:active {
    box-shadow:  0px 2px 2px 0px rgba(0,0,0,0.8) inset;
}

.expandable {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: all .5s;
    overflow: hidden;
}  
