/* --------------------------------------------------------------------------*/
/*                                                                           */
/*                              g l o b a l . c s s                          */
/*                                                                           */
/*    Description: Global CSS definitions that apply to all documents        */
/*    Inspired from http://www.alsacreations.com/static/gabarits/            */
/* --------------------------------------------------------------------------*/

/* --- Page --- */
root { 
    display: block;
}

html {
    font-size: 100%;
}

body {
    font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; /* 3 */
    font-size: 0.9em; 
    line-height: 1.25;
    color: #245678;

    margin: 0;
    padding: 10px 20px;
    background-color: rgba(250,250,255,1); 
}

article a:link,
article a:visited {
    color: #245678;
}

article a:hover {
    color: #4FA3F9;
    text-decoration: underline;
}

/* --- Titles --- */
h1, h2, h3, h4, h5 {
    clear: both;
    color: #4444AA;
}

h1, h2, h3 {
    margin: 1em 0 1em 0;
}
h4, h5 {
    margin: 1em 0 .5em 0;
}
h1 {
    font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
}
h1 {
    font-size: 4em;
    font-style: italic;
}
h2 {font-size: 2.5em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.2em;}

div.main h1 {
    text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}

.center {
    text-align: center;
}

.chapter {
    page-break-before: always;
}
.chapter h2 {
    text-align: center;    
}
.chapter figcaption {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
}

/* --- Lists --- */
ul, ol {
    margin: .75em 0 .75em 24px;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: circle;
}

ul.light {
    list-style-type: none;
    padding-left: 0px;
}

/* --- Paragraphs --- */
p {
    margin: .75em .5em;
}
li p, blockquote p {
    margin: .5em 0;
}

/* --- links --- */
footer a, 
a.light {
    text-decoration: none;
}

footer a:hover,
a.light:hover {
    text-decoration: underline;
}
a {
    color: mediumblue;
    text-decoration: underline;
}
a:hover, a:focus {
    color: crimson;
}
a img {
    border: none;
}
div.creation-date {
    font-size: 12px;
    line-height: 10px;
    color: #c0c0c0;
    margin-bottom: 8px;
}

/* --- Quotes --- */
blockquote, q {
    font-size: 1.1em;
    font-style: italic;
    font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
}
blockquote {
    margin: .75em 0 .75em 24px;
}
cite {
    font-style: italic;
}


/* --- Miscellaneous --- */
em {
    font-style: italic;
}
strong {
    font-weight: bold;
    color: dimgray;
}


pre, code {
    font-size: 95%;
    font-family: "Bitstream Vera Mono", "Lucida Console", "Courier New", monospace;
    color: #aa4400;
}
pre {
    width: 95%;
    overflow: auto;
    overflow-y: hidden;
    background: ivory;
    color: #555;
}
pre strong {
    font-weight: normal;
    color: black;
}

div.main {
    float: left;
    margin: 15px;
    margin-top: 120px;
}

header {
    position: fixed;
    height: 110px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;

    /* Gradient background */
    background: rgb(210,235,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(210,235,249,1) 0%, rgba(250,250,255,1) 100%);  /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,235,249,1)), color-stop(100%,rgba(250,250,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(210,235,249,1) 0%,rgba(250,250,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(210,235,249,1) 0%,rgba(250,250,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(210,235,249,1) 0%,rgba(250,250,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(210,235,249,1) 0%,rgba(250,250,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#fafaff',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top,  rgba(210,235,249,1) 0%,rgba(250,250,255,1) 100%);  /* W3C */
}

article  {
    float: left;
    margin: 10px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    line-height: 20.55px;
    color: #354A7B;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 1px rgba(45,20,6,0.2);
}

article h2 {
    font-size: 140%;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;      
}

.chapter-title {
    font-size: x-large;
    color: #4444AA;
}

.clear {
    clear: both;
}

.code {
    margin-left: 50pt;
}

.note {
    page-break-inside: avoid;
    margin-left: 50pt;
    margin-right: 50pt;
    padding: 10pt;
    background-color: ivory;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 1px rgba(45,20,6,0.2);
}

.page-title {
    text-align: center
}

.snippet {
    padding: 10pt;
    margin-left: 50pt;
    margin-bottom: 20pt;
    background-color: ivory;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 1px rgba(45,20,6,0.2);
}

.warning {
    background: url('../../branding/images/icon_alert.gif') no-repeat;
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

footer {
    clear: left;
    border-top: 1px solid #cccccc;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0px;
    padding-top: 10px;
    text-align: center;
}

h3.title {
    border-bottom: 1px solid silver;  
}

code.button,
code.key {
    background: white;
    border: 1px solid gray;
    padding-left: 2px;
    padding-right: 2px;
}

code.key {
    color: #0000FF;
    font-weight: bold;
    border-radius: 3px;
}

dt {
    margin-top: 10px;
    font-weight: bold
}

strong {
    color: #A1B55D;
}

/* --- Specific --- */
#copyright {
    margin: 20px 0 5px 0;
    text-align: right;
    font-size: .8em;
    color: #848F63;
}
#copyright a {
    color: #848F63;
    text-decoration: none;
}
#copyright a:hover, 
#copyright a:focus {
    text-decoration: underline;
}


#download-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 195px;
    height: 73px;
    background:  url('../images/download_now.png') no-repeat;
    text-decoration: none;
    border-radius: 6px;
    box-shadow:0px 5px 5px rgba(0,0,0,0.3),
        0px 5px 5px 0px rgba(255, 255, 255, 0.3) inset;
}

#download-button:active {
    box-shadow:  0px 5px 5px 0px rgba(0,0,0,0.3) inset;
}

#download-version {
    position: absolute;
    left: 13px;
    top: 8px;
    color: white;
    text-shadow: 2px 2px #888888;
}

#logo {
    position:absolute;
    left: 5px;
    top: 0px;               
    height: 95px;
    width: 195px;
    text-decoration: none;
    background:  url('../images/logo-audiveris-195x80.png') no-repeat;
}

#logo-subtitle {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: right;
    color: black;
    font-size: 14px;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

/* Global navigation bar */
#tabs {
    position:relative; 
    top: 10px;
    z-index: 10;
    height: 21px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 36px;
}

#tabs li {
    display:inline;
}

#tabs a {
    padding-top: 5px;
    float: left; 
    width: 75px; 
    height: 21px; 
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border-radius:3px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#tabs a:link,
#tabs a:visited {
    color: white;
    background-color: #7496b8;
}            
#tabs a:hover {
    background-color:#535898;
}

#tabs a:active {
    box-shadow:  0px 2px 2px 0px rgba(0,0,0,0.8) inset;
}

/* Color for current page */
#tabs a.current:link,
#tabs a.current:visited,
#tabs a.current:hover,
#tabs a.current:active {
    background-color:#030878;
}            
