/* dev.java.net branding */

body {
	color:  #333;
}

.topline {
	border-top: 1px #666 solid !important;
}

.topbar {
	border-top: 7px #5C8098 solid;
}

#banner, #banner td, #toptabs {
	background-color: #fff;
	color: #333;
}

#toptabs th {
	border-left: 1px solid #fff;
	border-right: 1px solid #333;
	background-color:#5C8098;
}

#toptabs th, #toptabs th a:link, #toptabs th a:visited {
	color: #fff !important;
}

#toptabs td, #toptabs td a:link, #toptabs td a:visited {
	color: #555 !important;
}

#toptabs {
	background-color: #fff;
	border-bottom: 6px solid #5C8098;
}

#toptabs td {
	border-bottom: 1px solid #666;
	border-right: 1px solid #333;
	border-left: 0px solid #696;
	background-color: #DCDCD4;
}

#banner, #toptabs {
	padding: none;
	margin: none;
}

#banner {
	padding-top: 10px;
	padding-left: 5px;
}

#toptabs {
	padding-top: 15px;
}

#login, #loginbox, #banner {
	color: #333;
}

#loginbox {
	font-size: 12px;
	font-weight: bold;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

#bannerbottom1 td, #bannerbottom2 td {
	background: #EFEFEF;
}

#bannerbottom1 th {
	background: #2E1772;
}

#bannerbottom2 th {
	background: #594FBF;
}

#banner {
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small
}

#bannerbottom1 th, #bannerbottom2 th {
	text-align: left;
	vertical-align: bottom;
}

/*Headings*/

h1, h2, h3, h4, h5, h6 {
font-family: Arial,Helvetica,sans-serif !important;
}

h1 {
	font-size: 1.5em;
	font-weight: normal;
}

.h2 h2, #longdescription h2  {
	background-color: #696;
	border-top: none;
}

#longdescription h2+h2 {
	background-color: #fff;
	color: #000;
}

.h2 {
	border-left: none;
}

h3, #longdescription h4 {
	color: #888;
}

.application h2, .app h3, .app h2, .functnbar {
	background-image: none;
	background-repeat: no-repeat;
}

.application h2, .application h3, .app h3, .app h4, #longdescription h4 {
	padding: 3px;
	margin-right: 2px;
	margin-left: 2px;
}

.h2 p, .h3 p, .h4 p, .h2 dt, .h3 dt, .h4 dt {
	margin-right: 7px;
	margin-left: 12px;
}

div.h2 {
	margin: 1.5em 0 0em;
}

.h2 {
	padding-left: 0 em;
}

#apphead h1 {
	font-size:11px; 
	color: gray;
}

#apphead h1 small {
 	font-size:16px; 
 	color: black; 
 	font-weight: normal;
}

.application h2, .app h3, #longdescription h3 {
	background-color: #696;
	color: #fff;
	margin-bottom: 12px;
	font-family: Verdana;
}

.application h3, .app h4, #longdescription h4 {
	background-color: #696;
	color: #fff;
}

.app h4, #longdescription h4 {
	background-color: #888;
	color: #fff;
}

h2, h3, #longdescription h4 {
	font-weight:bold;
	voice-family: "\"}\"";
	voice-family: inherit;
	color: #000;
}

h3, #longdescription h4 {
	color: #222;
}

.h3 h3, .h4 h4 {
	margin: 0em;
	display: block;
	left: 0; 
	padding: 3px;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 10px;
}

.h4 h4 {
	background-color: #fff;
}

.h3, .h4 {
	border-top: none;
}

.h2 .h3 h3 {
	background-color: #888;
	color: #fff;
}

/*end headings*/


/*links*/
a:link, #navcol a:link, #navcol a:visited, .application a:link, .application a:visited, .tasknav a:link, .tasknav a:visited {
	color: #069 !important;
	text-decoration: none;
}

a:hover, #navcol a:hover, #navcol a:active, .application a:hover, .application a:active, .tasknav a:hover, .tasknav a:active  {
	color: #363 !important; 
	text-decoration: none;
}

#mytools a:link, #banner a:link, #banner a:visited {
	border-bottom: none;
}

a:link.selfref, a:visited.selfref {
	color: #363 !important;
	text-decoration: none !important;	
}

#banner a:active, #banner a:hover {
	color: #f60 !important;
}

#loginbox a:link, #loginbox a:visited, #login a:link, #login a:visited, #banner a:link, #banner a:visited  {
	color: #006699 !important;	
	font-weight: bold;
	text-decoration: underline;
}

#toptabs a, .tabs a {
	text-decoration: none !important;
}

.tabs td a:link, .tabs td a:visited {
	text-decoration: none !important;
}

.tasknav a:link, .application a:link {
	text-decoration: none;
}

a:visited, #bodycol a:visited {
color: #003366;
text-decoration: none;
}

#bodycol a:link {
text-decoration: underline;
}

.tasknav a:link, .tasknav a:visited, .application a:link, .application a:visited, #footer a:link, #footer a:visited {
	text-decoration: underline !important;
}

/*end links*/

/*hover colors*/

.navgroup:hover {
	background-color: #DAF7DA;
}
 
#helptext:hover {
	background-color: #DAF7DA;
}

.a:hover td, .a:hover, #rightcol div.siteinfo .a:hover, .b:hover td, .b:hover, #rightcol div.siteinfo .b:hover, .hilight {
	background-color: #E6FAE6;
}

/*end hover colors*/

.grid td { 
	border-top: 1px solid #ccc; 
	border-left: 1px solid #ccc; 
}

.grid { 
	border-bottom: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
}

/* right column*/

#rightcol div.www, #rightcol div.help {
	border: none;
}

#rightcol div.www h3 {
	background-color: #ddd;
	color: #000;
}

#rightcol div.www h3 {
	padding: 3px;
}

/*end right column*/


/* java.net font styles */

body,th,td, p,li{
	font-family: lucida,arial,sans-serif !important;
}

.navgroup li {
	font-size: 1.1em;	
}

form {
	display:inline
}

form,select,input,textarea {
	margin:0px;
	padding:0px
}

.small,.small a {
	font-size:11px;
}

/** 
 pre-Snake tigris.css font and text properties, exclusive of link indication, alignment, text-indent 
**/

body, input, select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

code, pre {
	font-family: 'Andale Mono', Courier, monospace;
}

body, pre, code {
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

#bodycol, #bodycol table td, #bodycol table th {
	font-size: 95%;
	line-height:135%;
}

#bodycol table table td, #bodycol table table th {
	font-size: 100%;
}

/* sun colors */

.sunred {
	background:#D12124
}

.sunblue {
	background:#669966
}

.sunyellow {
	background:#FBE249
}

.sunred,.sunblue,td.sunred a,td.sunblue a {
	color:#FFF
}

/* collabnet hacks */

.axial th {
	font-weight:normal; 
	background-color:transparent; 
	color:gray;
	font-size:11px; 
	width:100px
}

.axial td {
	background-color:transparent; 
	color:black;
}

.application .tabs th, .application .tabs th a:link, .application .tabs th a:visited {
	color: #555 !important;
}

#breadcrumbs, div.tabs th, div.tabs td, div#login {
	font-size: 12px !important; 
	font-weight: bold;
}

DIV#footer, DIV#footer TABLE, INPUT, SELECT, .paginate, .functnbar, .functnbar2, .functnbar3, .courtesylinks, #rightcol DIV.help, .colbar, .tasknav, BODY.docs DIV#toc, #leftcol, .legend, .bars {
	font-size: 11px
}

.navgroup {
	background: #EDEDE7;
	margin-bottom: 6px
}

.navgroup dt {
	border-bottom: 1px solid #555;
	border-right: 1px solid #555;
	background: #DCDCD4;
	padding: 4px;
	font-weight: bold;
	color:#555;
}

.navgroup dd li.header {
	background-image: none;
}

.navgroup dd {
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px 4px 4px 0;
	background: #EDEDE7;
}

.navgroup dd li {
	padding-bottom: .3em;
	padding-left: 1em;
}

#projecttools, #admintools {
	border-bottom: 1px solid #aaa;
}

#helptext dt {
	background-image: url(../images/icon_help_sml.gif);
	background-repeat: no-repeat;
	background-position: 97%;
}

#helptext {
	background-color: #ffc;
}

#helptext dt {
	border-bottom: 1px solid #996;
	border-right: 1px solid #996;
	background-color: #DCDCD4;
}

#helptext dd {
	border-bottom: 1px solid #cc9;
	border-right: 1px solid #cc9;
}

#mytools dd, #projecttools dd, #admintools dd, #communitytools dd, #almleftnav dd {
	background-color: #EDEDE7;
	border-right: none;
	border-bottom: none;
	border-top: 1px solid #999;
}

#mytools dt, #projecttools dt, #admintools dt, #communitytools dt, #almleftnav dt {
	background-color: #DCDCD4;
	border: none;
}

#searchbox, #helptext {
	border-right: none;
}

#ownermessage {
	 border: 1px solid #696;
	 border-top: 5px solid #696;
	 margin: .67em 0 1.5em 0;
	 padding: .33em 0 .67em 42px;
	 min-height: 32px;
	 background: #fff url(../images/icon_info_lrg.gif) no-repeat 5px 5px;
}

#ownermessage h2 {
	color: #000;
}

#breadcrumbs{
	background-color: #ccc;
}

#footer{
	background-image: none;
}

/* table hacks for Helen Chen */

table.table-grid{
	border-style: solid;
	border-width: 1px;
	border-color: black; 
	border-collapse: collapse;
	empty-cells: show;
}

td.grid-cell{
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

/* making the CollabNet (top black) banner invisible */

#cnlogo, #collabnet{
	display: none;
	height: 0px;
	width: 0px;
	background: none;
	border-bottom: none;
	vertical-align: top;
}

#collabnet{
	border-bottom: none;
	background-color: #369;
}
