/* --------------------------------------------------------------------------*/
/*                                                                           */
/*                            l e f t - n a v . c s s                        */
/*                                                                           */
/*    Layout with a fixed navigation menu on the left side                   */
/*                                                                           */
/* --------------------------------------------------------------------------*/

/* --- Layout --- */

/* Fixed left column */
.left-column {
    position: fixed;
    width: 170px;
    overflow-y: scroll;
}

/* Shift main content to the right of left-column */
.main {
    position: fixed;
    left: 170px;
}

/* Navigation */
.left-column nav {
    font-size: 90%;
    font-size: 0.75em; 
    line-height: 0.75;
}
.left-column nav a {
    color: #8888ff;
    padding: 0;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}
.left-column nav a:hover, 
.left-column nav a:focus {
    background: rgba(250,250,255,1); 
    color: #4444ff;
}
.left-column nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.left-column nav ul li {
    margin-left: 10px;
    padding: 0;
    list-style: none;
}
.left-column nav li a {
    color: #000000;
}
.left-column nav li li a {
    color: #000000;
    font-weight: normal;
}
.left-column nav li li li a {
    color: #666666;
}
.left-column nav li li li li a {
    color: #aaaaaa;
}
