/* --------------------------------------------------------------------------*/
/*                                                                           */
/*                                 n a v . c s s                             */
/*                                                                           */
/*    Layout with a fixed navigation menu on the left side                   */
/*    Inspired from http://www.alsacreations.com/static/gabarits/            */
/* --------------------------------------------------------------------------*/




/* Colors */
a {
    color: #FF6533;
}
a:hover, a:focus {
    color: #FF4C00;
}

/* Navigation */
nav {
    background: white;
    font-size: 90%;
}
nav a {
    /*    color: #FF6533;*/
    color: #8888ff;
}
nav a:hover, nav a:focus {
    background: rgba(250,250,255,1); 
    color: #4444ff;
}

/* Main content */
.main {
    color: #363B29;
    /*	background: #cbd888;*/
    background-color: rgba(250,250,255,1); 
}
.main a {
    color: #332510;
}
.main a:hover, .main a:focus {
    color: #6E5122;
}
.main strong {
    color: #181A12;
}


/* --- Layout --- */

/* Page */
body {
    padding: 0px 0px; 
}

/* Navigation */
nav {
    position: fixed;
    width: 14%;
    float: left;
    font-size: 0.75em; 
    line-height: 0.75;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    margin-left: 10px;
    padding: 0;
    list-style: none;
}
nav a {
    display: block;
    height: 1%;
    /*    padding: 6px 6px 6px 10px;*/
    padding: 0;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}
nav li a {
    color: #000000;
}
nav li li a {
    color: #000000;
    font-weight: normal;
}
nav li li li a {
    color: #666666;
}
nav li li li li a {
    color: #aaaaaa;
}
/* Main */
div.main {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 14%;
    width: 82%;    
    padding: 0;
}
/*.main > :first-child {
    margin-top: 10px;
}*/
.main li {
    margin-top: 5pt;
}

img {
    border-radius: 6px;
    box-shadow: 5px 5px 5px 2px rgba(45,20,6,0.2);
}
img.icon {
    border-radius: 0;
    box-shadow: none;
}
.right {
    float: right;
    margin: 0 0 20px 40px;
}
.side {
    float: left;
    margin: 0 40px 20px 0;
}

