/* --------------------------------------------------------------------------*/
/*                                                                           */
/*                                 n a v . c s s                             */
/*                                                                           */
/*    Layout with a fixed navigation menu on the left side                   */
/*    Inspired from http://www.alsacreations.com/static/gabarits/            */
/* --------------------------------------------------------------------------*/




/* Colors */
a {
    color: #FF6533;
}
a:hover, a:focus {
    color: #FF4C00;
}
code {
    color: #aa4400;
}
code.key {
    color: #0000FF;
    background: white;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 3px;
}
dt {
    margin-top: 10px;
    font-weight: bold
}
strong {
    color: #A1B55D;
}

/* Navigation */
#navigation {
    background: white;
    font-size: 90%;
}
#navigation a {
    /*    color: #FF6533;*/
    color: #8888ff;
}
#navigation a:hover, #navigation a:focus {
    background: rgba(250,250,255,1); 
    color: #4444ff;
}

/* Main content */
#content {
    color: #363B29;
    /*	background: #cbd888;*/
    background-color: rgba(250,250,255,1); 
}
#content a {
    color: #332510;
}
#content a:hover, #content a:focus {
    color: #6E5122;
}
#content strong {
    color: #181A12;
}


/* --- Layout --- */

/* Page */
body {
    padding: 0px 0px; 
}

/* Navigation */
#navigation {
    position: fixed;
    top: 50px;
    width: 15%;
    float: left;
}
#navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navigation ul li {
    margin-left: 10px;
    padding: 0;
    list-style: none;
}
#navigation a {
    display: block;
    height: 1%;
    /*    padding: 6px 6px 6px 10px;*/
    padding: 0;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}
#navigation li a {
    color: #000000;
}
#navigation li li a {
    color: #000000;
    font-weight: normal;
}
#navigation li li li a {
    color: #666666;
}
#navigation li li li li a {
    color: #aaaaaa;
}
/* Content */
#content {
    margin: 20px;
    padding: 20px;
    margin-left: 15%;
    margin-bottom: 20px;
}
#content > :first-child {
    margin-top: 10px;
}
#content li {
    margin-top: 5pt;
}

img {
    border-radius: 6px;
    box-shadow: 5px 5px 5px 2px rgba(45,20,6,0.2);
}
img.icon {
    border-radius: 0;
    box-shadow: none;
}
.right {
    float: right;
    margin: 0 0 20px 40px;
}
.side {
    float: left;
    margin: 0 40px 20px 0;
}
.clear {
    clear: both;
}

