/* -------------------------------------------------------------------------- */
/*                          s l i d e s h o w . c s s                         */
/* -------------------------------------------------------------------------- */

/** {
    margin: 0;
    padding: 0;
}*/

/* Global containment for slides and commands */
#slideshow{
    position: relative;
}

/* Containment for slides */
/* Containment for indices */
#slideshow ul{
    position: relative;
    list-style: none outside none; /* type position image */
}
#slideshow ul.slides {
    overflow: visible;
}
#slideshow ul.slides li{
    position: absolute;
    display: none;
    z-index: 1; /* below */
    cursor: pointer;
}

#slideshow .active{
    z-index: 50; /* middle */
}

/* Previous / Next commands */
#slideshow .command {
    z-index: 20; /* top */
    cursor: pointer;
}

/* Direct labels */
#slideshow ul.labels li {
    display: inline-block;
    cursor: pointer;
}

/* Status indication */
#slideshow #status {
    display: none;
    z-index: 30;
    transition: all 1s;
}
#slideshow #status .paused {
    display: block;
}
