@import url(onlinehelp.css);

body
{
	background: #fff;
	color: #000;
	padding: 1em;
}

body.composite
{
	margin: 0;
	padding: 0;
}

p, ul, ol, dl, table.bars
{
	margin-top: .67em;
	margin-bottom: .67em;
}

#bodycol
{
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: auto;
}

html>body #bodycol { 
	width: auto; 
}

.h2 p, .h3 p, .h4 p, .h2 dt, .h3 dt, .h4 dt
{
	margin-right: 7px;
	margin-left: 7px;
}

#login { 
	color: #f0f0f0; 
}

img { 
	border: none; 
}

/* CEE Brand */
#poweredby
{
	display: block;
	float: left;
	height: 38px;
	width: 102px;
	background: url(../images/poweredby.gif) no-repeat;
	border-bottom: none;
	margin: 0px 58px 0px 0px;
}

#ee, #cn { 
	border: none; 
}

div#collabnet
{
	background: #234 url(../images/cnheader-background.gif) top repeat-x;
	color: #fff;
	padding-top: 6px;
	padding-bottom: 13px;
	padding-left: 10px;
}

/* Tab sets colors, borders */

.tabset
{
	background-color: #efefef;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.tabset .tabset
{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

/* Navigation colors, borders */
.navgroup dd li.header { 
	background-image: none; 
}

.navgroup
{
	background: #e2e6ea;
	border-top: 1px solid #ccc;
	border-right: 1px solid #bdbdcc;
}

.navgroup:hover { 
	background: #caedff; 
}

.navgroup dt {
	background: #abd;
	color: #333;
}

.navgroup dd { 
	border-bottom: 1px solid #bdbdcc; 
}

#helptext
{
	background-color: #fcfce0;
	margin: 0px 0 2px -2px;
}

#helptext:hover { 
	background-color: #ffffc0; 
}

#helptext dt
{
	border-bottom: 1px solid #ccc;
	border-right: 0;
	background-color: #cca;
}

#helptext dd
{
	border-bottom: 1px solid #ccc;
	border-right: 0;
}

#communitycol { 
	width: 20%; 
}

/* Tables colors, background */

.a td, .a, #rightcol div.siteinfo .a { 
	background: #f9f9f9; 
}
.b td, .b, #rightcol div.siteinfo .b { 
	background: #ededef; 
}

table td.c, .c { 
	background: #bbb; 
}

th, .axial th {
	background-color: #ddd;
	color: black;
}

.a:hover td, .a:hover, #rightcol div.siteinfo .a:hover, .b:hover td, .b:hover, #rightcol div.siteinfo .b:hover, .hilight
{
	background-color: #caedff;
}

body .grid td {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background-color: transparent;
}

.legend th, .bars th { 
	background-color: #fff; 
}

/* Headings colors, borders */

h1 em { 
	color: #555; 
}

.h3 h3 { 
	background-color: #d4e4b4; 
}

.h4 h4
{
	background-color: #ccc;
}

.h2 h2 {
	color: #000;
	background-color: #ac8;
	border-top: 1px solid #669933;
}

h3 { 
	color: #000; 
}

/* Tabs colors, borders */

#toptabs th { 
	background-color: #e0e4e8; 
}

#toptabs {
	background-color: #234;
	border-bottom: 6px solid #e0e4e8;
}

#banner {
	background-color: #234;
}

/* Font and text properties, alignment, text-indent */

body, h1, h2, h3, h4, h5, h6, p, td, table td, input, select { 
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif !important; 
}

code, pre { 
	font-family: 'Andale Mono', Courier, monospace; 
}

body
{
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: 0.70em;
}

pre, code { 
	font-size: 1.15em; 
}

#bodycol, #bodycol table td, #bodycol table th
{
	font-size: 100%;
	line-height: 135%;
}

#bodycol table table td, #bodycol table table th { 
	font-size: 100%; 
}

/* a workaround for netscape 7 bug. has to come right after the previous line-height declaration */
input { 
	line-height: 100%; 
}

h1 {
	font-weight: normal;
	font-size: medium;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: large;
}

h2, h3, h4, h1 small, #rightcol h2 {
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

h2 { 
	font-size: 1.25em; 
}

h3 { 
	font-size: 1.10em; 
}

h4 {
	font-size: 1em;
}

li.selection ul { 
	font-weight: normal; 
}

small, .small, div#footer, #login, .tabs th, .tabs td, #toptabs th, #toptabs td, #bodycol .tabs th, #bodycol .tabs td,	#navcol, input, select, .paginate, .functnbar, .functnbar2, .functnbar3, .functnbar4, #breadcrumbs, .courtesylinks, .colbar, .tasknav, #sidebar, .legend, .bars, #rightcol div.www, #rightcol div.siteinfo, .expandwidget, .collapsewidget, #additemlink {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}

.tabs td, .tabs th, #toptabs th, #toptabs td, .tasknav .selfref, #login .username, .selection, .functnbar4 a, fieldset legend, .cumulative td, .rollupactivity td, #today, #selectedDate { 
	font-weight: bold; 
}

.tabs td, .tabs th {
	white-space: nowrap;
}

h1 em { 
	font-style: normal; 
}

table { 
	font-size: 1em; 
}

del { 
	text-decoration: line-through; 
}

.tabs a, #toptabs a { 
	text-decoration: none; 
}

#toptabs a:hover { 
	text-decoration: underline; 
}

caption { 
	font-size: x-small; 
}

caption em { 
	font-weight: bold; 
}

.tip {
	font-size: smaller;
	font-style: italic;
	font-weight: normal;
}

/* Links */

a:visited, #bodycol a:visited {
	color: #036;
	text-decoration: none;
}
 
a:link, #navcol a:link, #navcol a:visited, #bodycol a:link, .tasknav a:link, .tasknav a:visited {
	color: #06c;
	text-decoration: none;
}

a:hover, a:active, #navcol a:hover, #navcol a:active, #bodycol a:hover, #bodycol a:active, .tasknav a:hover, .tasknav a:active { 
	text-decoration: underline; 
}

a:link.selfref, a:visited.selfref {
	color: #334 !important;
	text-decoration: none;
}

a:active, a:hover, #navcol a:active, #navcol a:hover { color: #f30 !important; }
.functnbar4 a, .functnbar4 a:link, .functnbar4 a:visited { 
	color: #fff !important; 
}

#navcol a, #breadcrumbs a { 
	text-decoration: none; 
}

.h2 h2 a:link, .h2 h2 a:visited {
	color: #000 !important;
	text-decoration: underline;
}

#toptabs td a:link, #toptabs td a:visited { 
	color: #9cf !important; 
}

.tabs th, .tabs th a:link, .tabs th a:visited, #toptabs th, #toptabs th a:link, #toptabs th a:visited { 
	color: #555 !important; 
}

.tabs td, .tabs td a:link, .tabs td a:visited { 
	color: #222 !important; 
}

#login a { 
	color: #9cf; 
}

/* Headings margins, padding*/
#bodycol h1 {
	margin-top: .6em;
	margin-bottom: .5em;
}

.h2 { 
	margin-top: 1.47em; 
}

h2 {
	margin: 4px 1px 4px 1px;
	padding: 2px 0px 4px 3px;
}

.h3, .h4 {
	margin: 1.25em 0px 0px 0px;
	margin: 0.5em 0px 0px 0px;
	padding: 6px 0px 0px 0px;
}

.h3 h3, .h4 h4 {
	margin: 4px 1px 4px 1px;
	padding: 1px 0px 2px 3px;	
}

h2, h3, h4 { 
	clear: both; 
}

.h2 { 
	clear: both; 
}

/* Special heading adjustments */
.h2 h2 + table { 
	margin-top: -4px; 
}

.h3 h3 + .h4 h4 { 
	margin-top: -3px; 
}

.h3 h3 + table { 
	margin-top: -3px; 
}

.h2 h2 + .h3 { 
	margin-top: -1em; 
}

* html h3 {
	margin-top: 0px;
}


/* Functnbars */
.functnbar {
	background-image: url(../images/nw_maj_rond.gif);
	background-repeat: no-repeat;
}

.functnbar, .functnbar2 { 
	background-color: #aaa; 
}

.functnbar2 {
	background-image: url(../images/sw_maj_rond.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.functnbar3 {
	background-color: #ddd;
	background-repeat: no-repeat;
	background-image: url(../images/sw_maj_rond.gif);
	background-position: bottom left;
}

.functnbar4 { 
	background-color: #888; 
}

.tabset .functnbar { 
	background-image: url(../images/nw_maj_rond_ts.gif); 
}

.tabset .functnbar2, .tabset .functnbar3 { 
	background-image: url(../images/sw_maj_rond_ts.gif); 
}

.functnbar, .functnbar2, .functnbar3, .functnbar4 {
	padding: 4px 1em 5px 1em;
	margin: .4em 2px .5em 2px;
}

.functnbar3 {
	padding: 2px 1em 3px 1em;
	margin-top: 0;
}

.functnbar4 {
	margin: 1px 2px 0px 2px;
	white-space: nowrap;
}

.functnbar5 {
	padding: 4px 1em 2px 0;
	margin: .4em 2px 0 0;
}

.functnbar4 a {
	padding-right: 0.5em;
	padding-left: 0.5em;
}

/* All other widgets, formatting elements */

#login {
	float: right;
	text-align: right;
	white-space: nowrap;
	padding-right: 10px;
	margin-top: 1px;
}

.colbar {	
	background: #eee;
	border: 1px solid #999;
	border-color: #aaa #eee #eee #aaa;
	margin: 1px 2px 2px 2px;
	padding: 2px;
}

#breadcrumbs {
	background-color: #e0e4e8;
	padding: 1px 10px 4px 10px;
}

.alt, .hide { 
	display: none; 
}

.inline {
	display: inline; 
}

fieldset {
	border: 1px solid #ccc;
	border-color: #ccc #999 #999 #ccc;
	width: 100%;
	margin-bottom: 3px;
}

.fieldset { 
	padding: .67em; 
}

.filebrowse .leafnode, .filebrowse-alt .leafnode {
	background-image: url(../images/icon_folder_sml.gif);
	background-repeat: no-repeat;
}

.filebrowse .leaf, .filebrowse-alt .leaf {
	background-image: url(../images/icon_doc_sml.gif);
	background-repeat: no-repeat;
}

.sortup { 
	background: url(../images/icon_sortup.gif) no-repeat; 
}

.sortdown { 
	background: url(../images/icon_sortdown.gif) no-repeat; 
}

a.sortdown, a.sortup, a.expanded, a.collapsed, a.leaf, a.leafnode { 
	border: none; 
}

.collapsewidget { 
	background: #efefef; 
}

.expandwidget {
	padding-top: 2px;
	margin-top: 2px;
	padding-left: 3px;
}

.collapsewidget a {
	background: url("../images/button-close.gif") no-repeat left top;
	padding-left: 14px;
}

.collapsewidget a:hover { 
	background: url("../images/button-close-over.gif") no-repeat left top; 
}

.expandwidget a {
	background: url("../images/button-open.gif") no-repeat left top;
	padding-left: 14px;
}

.expandwidget a:hover { 
	background: url("../images/button-open-over.gif") no-repeat left top; 
}

.docinfo { 
	background: url(../images/icon_doc_lrg.gif) no-repeat; 
}

.dirinfo { 
	background: url(../images/icon_folder_lrg.gif) no-repeat; 
}

.docinfo, .dirinfo {
	margin: .67em 0;
	padding: .33em 0 .67em 42px;
	min-height: 32px;
}

.helplink { 
	cursor: help; 
}

#topmodule {
	background-color: #ddd;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #aaa;
	margin: -1px -2px 0 -4px;
}

#topmodule #projectname { 
	border-right: 2px solid #aaa; 
}

#topmodule #issueid { 
	border-right: 1px solid #aaa; 
}

#topmodule td {
	padding: 2px 8px;
	vertical-align: middle;
}

.cvsdiff, .cvsblame { 
	background-color: #ccc; 
}

.cvsdiffadd { 
	background-color: #bfffbf; 
}

.cvsdiffremove { 
	background-color: #ffbaaa; 
}

.cvsdiffchanges1, .cvsdiffchanges2 { 
	background-color: #ff7; 
}

#rightcol div.siteinfo div {
	padding: 1px 2px 1px 3px;
}

#rightcol div.siteinfo h2 {
	background-color: #abd;
	padding: 3px;
	margin-top: .5em;
	font-size: 1em;
	font-weight: normal;
}

#rightcol div.www h3, #rightcol div.help h3 {
	background-color: #ddd;
	padding: 3px;
	margin-top: 0em;
	font-size: 1em;
	font-weight: normal;
}

#rightcol div.www p, #rightcol div.help p {
	padding: 1px 3px;
}

#rightcol div.www ul, #rightcol div.help ul {
	padding-left: 2em;
}

.band1 {
	color: #fff;
	background-color: #663;
}

.band2 {
	color: #fff;
	background-color: #66C;
}

.band3 { 
	background-color: #C99; 
}

.band4 { 
	background-color: #CFF; 
}

.band5 {
	color: #fff;
	background-color: #336;
}

.band6 {
	color: #fff;
	background-color: #966;
}

.band7 { 
	background-color: #9CC; 
}

.band8 { 
	background-color: #FFC; 
}

.band9 {
	color: #fff;
	background-color: #633;
}

.band10 {
	color: #fff;
	background-color: #699;
}

.band11 { 
	background-color: #CC9; 
}

.band12 { 
	background-color: #CCF; 
}

.band13 {
	color: #fff;
	background-color: #366;
}

.band14 {
	color: #fff;
	background-color: #996;
}

.band15 { 
	background-color: #99C; 
}

.band16 { 
	background-color: #FCC; 
}

.red { 
	color: #f00; 
}

.green { 
	color: #060; 
}

.blue { 
	color: #036; 
}

.purple { 
	color: #339; 
}

.tip {
	color: #333;
	margin-top: 3px;
	margin-bottom: 4px;
}

p.attrdesc { 
	margin-left: 0px; 
}

.tiptexttoggle {
	background-color: #C0CFDB;
	border: none;
	border-bottom: 1px solid #89C;
	border-right: 1px solid #89C;
	color: #444;
	margin: -3px 1px 0px 1px;
	padding: 2px 5px;
}

.tiptexttoggle input {
	font-size: .9em;
	color: #444;
}

#helpbox {
	background-color: #fefee6;
	padding: 6px 11px 1em 6px;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin-bottom: 1em;
}

#helpbox p { 
 margin-left: 5px; 
}

.th-heading { 
	padding: 2px 2px 7px 2px; 
}

.leftpadding-medium { 
	padding-left: 14px; 
}

form { 
	margin: 0; 
}

ol ol { 
	list-style-type: lower-alpha; 
}

ol ol ol { 
	list-style-type: lower-roman; 
}
 
.tasknav { 
	margin-bottom: 1.33em; 
}

div.a, div.b {
	margin: 2px 0;
	padding: 3px;
}

.right { 
	text-align: right !important; 
}

.center { 
	text-align: center !important; 
}

body .stb {
	margin-top: 1em;
	text-indent: 0;
}

body .mtb {
	margin-top: 2em;
	text-indent: 0;
}

.courtesylinks {
	margin-top: 1em;
	padding-top: 1em;
}

dd { 
	margin-bottom: .67em; 
}

.tier1 { 
	margin-left: 0; 
}

.tier2 { 
	margin-left: 1.5em; 
}

.tier3 { 
	margin-left: 3em; 
}

.tier4 { 
	margin-left: 4.5em; 
}

.tier5 { 
 margin-left: 6em; 
}

.tier6 { 
	margin-left: 7.5em; 
}

.tier7 { 
	margin-left: 9em; 
}

.tier8 { 
 margin-left: 10.5em; 
}

.tier9 { 
	margin-left: 12em; 
}

.tier10 { 
	margin-left: 13.5em; 
}

.filebrowse .expanded, .filebrowse .collapsed { 
	padding-left: 18px; 
}

.filebrowse .leafnode, .filebrowse .leaf { 
	padding-left: 20px; 
}

.filebrowse-alt .expanded, .filebrowse-alt .collapsed, .filebrowse-alt .leaf, .filebrowse-alt .leafnode, .sortup, .sortdown {
	/* hide from macie5\*/
	float: left;
	/* resume */
	display: inline-block;
	height: 15px;
	width: 18px;
	padding-left: 0 !important;
}

.filebrowse-alt .leaf, .filebrowse-alt .leafnode, .sortup, .sortdown { 
	width: 20px; 
}

.filebrowse ul, .filebrowse-alt ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.filebrowse ul ul, .filebrowse-alt ul ul {
	margin-left: 1.5em;
	margin-top: 0;
	padding-top: .67em;
}

.filebrowse li, .filebrowse-alt li { 
	margin-bottom: .67em; 
}

td.filebrowse h3 { 
	margin-top: 0; 
}

#footer {
	background: url(../images/dotted_line.gif) top left repeat-x; 
	margin: 1em 12px 1.5em 10px;
	padding-top: 1em;
}

.selectiongroup { 
	padding-left: 1.5em; 
}

.inputgroup2 { 
	padding-left: 3em; 
}

.inputgroup3 { 
	white-space: nowrap; 
}

.inputstack {
	margin-top: 3px;
	margin-bottom: 4px;
	white-space: nowrap;
}

.removedbox {
	float: left;
	margin-right: 10px;
}

.floatright { 
	float: right; 
}

.floatleft { 
	float: left; 
}

div.strut7 { 
	width: 7em; 
}

div.strut8 { 
	width: 8em; 
}

div.strut13 { 
	width: 13em; 
}

div.strut14 { 
	width: 14em; 
}

.strut15 { 
	width: 15em; 
}

.printbreak {
	border-top: 2px #000 solid;
	margin-top: 20px;
}

div.printbreak { 
	page-break-after: always !important; 
}

.messagechild { 
	padding-left: 34px; 
}

body.composite #termsofservice, body.composite #privacypolicy {
	display: block;
	border: 1px solid #aaa;
	padding: 5px 10px;
	margin-top: 10px;
	width: 95%;
	height: 400px;
	overflow: auto;
}

#additemlink {
	padding-top: 2px;
	margin-top: 2px;
	padding-left: 3px;
}

.additembox {
	background: #efefef;
	padding: 5px 3px;
}

.additembox-expanded { 
	padding-left: 14px; 
}

/* Tab sets margins, padding */
#toptabs {
	margin: 0;
	padding-top: .1em;
}

#toptabs table {
	margin-top: 0em;
	margin-left: 8px;
	padding-left: 8px;
	margin-right: 1em;
}

.h2 .h3 .tabs , .h2 .h4 .tabs { 
	margin-left: 1.75em; 
}

table.tabs {
	margin-top: 5px;
}

h2 + table.tabs { 
	margin-top: .5em; 
}

#toptabs .tabs td, #toptabs .tabs th { 
	padding: 3px 9px; 
}

#toptabs th, #toptabs td { 
	padding: 2px 9px 3px 9px; 
}

.tabset, .tabset .tabset { 
	padding: .67em; 
}

/* Navigation margins, padding */
.navgroup dd li.header { 
	margin-top: 4px; 
}

.navgroup li
{
	margin: 0;
	padding-left: 10px;
	list-style-type: none;
}

.navgroup, .navgroup dt, .navgroup dd, .navgroup ul, .navgroup li {
	margin: 0;
	padding: 0;
}

.navgroup li { 
	display: block; 
}

.navgroup { 
	margin-bottom: 1px; 
}

.navgroup dd { 
	padding: 4px 4px 4px 0; 
}

.navgroup dt {
	padding: 4px;
	padding-left: 10px;
}

.navgroup dl dt {
	padding: 0;
	padding-left: 0px !important;
}

.navgroup dd li, .navgroup dd div {
	padding-bottom: .3em;
	padding-left: 1em;
}

.navgroup dd li li {
	margin-top: .3em;
	padding-bottom: 0;
}

#navcol, #navcol .strut { 
	width: 15em; 
}

#mytools, #projecttools, #admintools, #communitytools, #almleftnav, #searchbox {
	padding: 0 0px 0px 0px;
	margin: 0px 0 2px -2px;
}

/* Tables margins, padding */
th, td { 
	padding: 1px 2px 1px 2px; 
}

th, td {
	text-align: left;
	vertical-align: top;
}

.axial th, .axial th .strut { 
	text-align: right; 
}
	
.axial td th { 
	text-align: left; 
}

table.axial th, table.axial th .strut {
	width: 13em;
}

.legend th, .bars th {
	text-align: right;
	padding-left: 1em;
}

.bars th { 
	width: 12em; 
}

caption { 
	text-align: left; 
}

/* Messaging */
.errormessage, .warningmessage, .donemessage, .infomessage {
	border-top: 5px solid #900;
	border-left: 1px solid #900;
	background: url(../images/icon_error_lrg.gif) no-repeat 5px 1.33em;
	margin: .67em 0;
	padding: .33em 0 .67em 42px;
	min-height: 32px;
}

.errormessage {
	background-color: #fff5f1;
}

.warningmessage {
	background-image: url(../images/icon_warning_lrg.gif);
	border-color: #c60;
	background-color: #fdf7f1;
}

.donemessage {
	background-image: url(../images/icon_success_lrg.gif);
	border-color: #090;
	background-color: #f8fff4;
}

.infomessage {
	background-image: url(../images/icon_info_lrg.gif);
	border-color: #369;
	background-color: #e7f3fe;
}

.errormark, .warningmark, .donemark, .infomark {
	background: url(../images/icon_error_sml.gif) no-repeat;
	padding-left: 20px;
	min-height: 15px;
}

.warningmark { 
	background-image: url(../images/icon_warning_sml.gif); 
}

.donemark { 
	background-image: url(../images/icon_success_sml.gif); 
}

.infomark { 
	background-image: url(../images/icon_info_sml.gif); 
}

/* Calendar */
.calendarbody { 
	margin: 17px; 
}

.calendarweek { 
	background-color: #ccc; 
}

.calendarweeklabel
{
	background-color: #aaa;
	text-align: center;
	padding-bottom: 7px;
}

.calendardays, calendarperiod { 
	border: 1px solid #999; 
}

.calendardays table, .calendarperiod table { 
	background-color: #ccc; 
}

.calendarmonths {
	background-color: #9bf;
	border: 1px solid #ccf;
	border-color: #ccf #69c #69c #ccf;
}

.calendartoday {
	background-color: #ee9;
	border: 1px solid #999;
	border-color: #999 #777 #69c #aaa;
}

.calendartoday, .calendarmonths { 
	padding: 0 2px 0 3px; 
}

.periodax { 
	background-color: #9cc; 
}

.periodbx { 
	background-color: #ac9; 
}

.currentperiod, #today { 
	background-color: #ee9; 
}

.othermonthday, .othermonthday a
{
	background-color: #ddd;
	color: #888;
}

.calendarday { 
	background-color: #fff; 
}

#selectedDate { 
	background-color: #9e5; 
}

.periodax, .periodbx, .currentperiod { 
	border-bottom: 1px solid #eee; 
}

.periodax, .periodbx, .currentperiod, .calendarday { 
	text-align: right; 
}

.periodax, .periodbx, .currentperiod, .othermonthday, .othermonthday a, .calendarday { 
	padding-bottom: 7px; 
}

/* Specific to Project Dashboard */
#projectperformance { 
	padding: 10px; 
}

.effort { 
	margin-left: 50px; 
}

.effortbar1, .effortbar2 { 
	position: absolute; 
}

.dashboardchart
{
	padding: 5px;
	margin: 2px 2px 0px 2px;
	text-align: center;
}

.statusnotstarted, .statusontrack, .statuscaution, .statusslip, .statusended {
	width: 50px;
	height: 10px;
	white-space: nowrap;
}

.indenttable th .strut { 
	width: 16em; 
}

.cumulative td, .subtotal { 
	background-color: #bbb; 
}

.rollupactivity td { 
	background-color: #ddd; 
}

.effortbar1 { 
	background-color: #79f; 
}

.effortbar2 { 
	background-color: #aaa; 
}

.dashboardchart { 
	background-color: #ddd; 
}

table td.statusnotstarted, .statusnotstarted { 
	background: #cca; 
}

table td.statusontrack, .statusontrack { 
	background: #6c6; 
}

table td.statuscaution, .statuscaution { 
	background: #fc6; 
}

table td.statusalert, .statusalert { 
	background: #f30; 
}

table td.statusended, .statusended { 
	background: #ccc; 
}

/*metrics: displays */
.reportlet {
	/* hide from macie5\*/
	clear: both;
	/* resume */
	width: 100%;
	min-width: 615px;
}

.reportlet-a, .reportlet-b {
	border: 1px solid #998;
	width: 49%;
	min-width: 300px;
}

.reportlet-a { 
	float: left; 
}

.reportlet-b { 
	float: right; 
	position: relative;
}

/*a css hack to get rid of an IE 6 rendering bug
on metrics title*/
* html .reportlet-b {
        /* hide from macie5\*/
         position: fixed;
        /* resume */
}

.reportlet-single {
	border: 1px solid #998;
	width: 100%;
	min-width: 600px;
}

.reportlet-footer {
	text-align: center;
	margin: 0;
	padding-bottom: 3px;
}

.reportlet p { 
	margin: 0; 
}

.report-title, .reportlet-title {
	text-align: center;
	font-weight: bold;
	background-color: #ccccc1;
}

/*for the report detail page*/
h2.report-title {
	padding: 4px 5px 9px 5px;
	margin-top: 1em;
	margin-bottom: .25em;
	font-size: 1.4em;
}

/*for the embedded charts*/
h4.reportlet-title {
	border-style: none;
	padding: 3px 3px 4px 3px;
	margin: 0;
	font-size: 1.1em;
}

.metricchart {
	text-align: center;
	margin: 6px auto;
}

.metricchart img { 
	border: 1px solid #ddd; 
}

.reportletchart {
	text-align: center;
	margin: 3px auto;
}

#report-links {
	float: right;
	margin: 0px 5px 2px 5px;
}

#report-export {
	margin-left: 3em;
	float: right;
}

/*metrics: creation sequence */
#report-sequence { 
	margin-bottom: 1em; 
}

#report-sequence table {
	width: 100%;
	border-spacing: 0px;
	background-color: #ccc;
}

#report-sequence table td, #report-sequence table th { 
	width: 33%; 
}

#report-sequence table th {
	background-color: #cef;
	font-weight: bold;
}

td.sequence-known, td.sequence-previous {
	background-color: #ace;
	color: #333;
}

td.sequence-unknown {
	background-color: inherit;
	color: #333;
}

td.sequence-next {
	background-color: inherit;
	color: #333;
}

#report-sequence td, #report-sequence th {
	padding: 4px 5px;
	border: 1px solid #ccc;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}

.select-medium {
	margin: 3px 0;
	min-width: 13em;
}

#statename-display { 
	font-weight: bold; 
}

.btnTop {
/*just to overcome an apparent button problem to put it at top*/
        vertical-align: top;
}

/*special cases*/
#footer p {
	margin-top: 3px;
	color: #555;
}


/*New body tabs style*/

.tabs td
{
	background: #898989 url(../images/gradient_dark.gif) repeat-x;
	border-right: 1px solid #fff;
}

.tabs th
{
	background: #efefef url(../images/gradient_light.gif) repeat-x !important;
	border-right: 1px solid #fff;
}

.tabs th, .tabs td { 
	padding: 3px 20px; 
}

.tabs td:hover { 
	background: #c6c6c6; 
}

.tabs th a, .tabs td a
{
	padding: 3px 20px;
	margin: 0px -20px;
}

.tabset table.tabs {
   background: #efefef url(../images/gradient_light.gif) repeat-x !important;
   border-left: 1px solid #ccc;
}

/* Broadcast message */
#broadcastmsg {
	 border: 1px solid #aaa;
	 border-right: 1px solid #999;
	 border-left: 1px solid #999;
	 background-position: 3px 6px;
	 background-color: #ecf4fe;
	 margin: 0.75em 0em;
}	

/* Project owner's message */
#ownermessage {
	 border: 1px solid #369;
	 border-top: 5px solid #369;
	 margin: .67em 0 1.5em 0;
	 padding: .33em 0 .67em 42px;
	 min-height: 32px;
	 background: #e7f3fe url(../images/icon_info_lrg.gif) no-repeat 5px 5px;
}

#ownermessage h2 {
	 background-color: transparent;
	 border: none;
	 margin-top: 3px 0px 5px 0px;
	 padding: 0px;
 	}

