/* --------------------------------------------------------------------------*/
/*                                                                           */
/*                     t i t l e - n u m b e r i n g . c s s                 */
/*                                                                           */
/*    Use of hierarchy in numbering titles                                   */
/* --------------------------------------------------------------------------*/

body {
    counter-reset: h1 h2 h3 h4 h5;
}

h1 {
    counter-reset: h2;
}
h1:before {
    counter-increment: h1;
}

h2:before {
    content: "Chapter " counter(h2) " - ";
    counter-increment: h2;
}
h2 {
    counter-reset: h3;
}

h3:before {
    content: counter(h2) "." counter(h3) " ";
    counter-increment: h3;
}
h3 {
    counter-reset: h4;
}

h4:before {
    content: counter(h2) "." counter(h3) "." counter(h4) " ";
    counter-increment: h4;
}
h4 {
    counter-reset: h5;
}

h5:before {
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
    counter-increment: h5;
}

