name: Build flatpak package

# execute this workflow on every push
#on:
#  - push
on:
  - workflow_dispatch

permissions:
  contents: read

jobs:
  java-dependencies:
    name: "Get java dependencies"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
        
      - name: Retrieve Gradle properties
        uses: BrycensRanch/read-properties-action@v1
        id: all
        with:
          file: gradle.properties
          all: true

      - name: Setup Java ${{ steps.all.outputs.theMinJavaVersion }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ steps.all.outputs.theMinJavaVersion }}
          distribution: zulu

      - name: Populate flatpak/flathub
        uses: gradle/gradle-build-action@v2.7.0
        with:
          arguments: --info initFlathub

      - name: upload flathub content
        uses: actions/upload-artifact@v4
        with:
          name: flathub-content
          path: flatpak/flathub/

  flatpak:
    name: "Flatpak"
    needs: java-dependencies

    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged

    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm
      fail-fast: false
    runs-on: ${{ matrix.variant.runner }}

    steps:
      - name: download flathub content
        uses: actions/download-artifact@v4
        with:
          name: flathub-content

      - name: Build flatpak ${{ github.sha }}
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          build-bundle: true
          bundle: org.audiveris.audiveris.flatpak
          manifest-path: org.audiveris.audiveris.yml
          cache-key: audiveris-flatpak-${{ github.sha }}
          arch: ${{ matrix.variant.arch }}
